Body {
  background: black;
  font-family: 'Ubuntu', sans-serif;
}
.about{
  font-size: 1.3rem;
  padding-top: 17vh
}

.navbar-brand{
  font-size:calc(1rem + 1.2vw);
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -4px 4px 4px #000000;
  letter-spacing: 5px;
}

.container-fluid{
  min-height: 100vh;
  display:flex
}

.card{
  height:calc(95vh - 20vw);
  background:radial-gradient(rgb(50,50,50),rgb(17,17,17));
}

h1, h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: calc(15px + 2vw) !important;
  font-weight:700
}
h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: calc(15px + 0.8vw) !important;
}

.blogpost:hover{
  transform:scale(1.1);
}

a:hover{
  text-decoration:none
}

#projects{
  background-image:linear-gradient(black,rgb(17, 17, 17),black);
}

#contact{
  background-image:linear-gradient(black,rgb(32, 32, 32),black);
}



