Body {
  background-color: black;
}
.about{
  font-size:1.8vh
}

.navbar-brand{
  font-size:2.3vh;
  font-family:"Times New Roman", serif;
}

.container-fluid{
  min-height: 100vh;
  display:inline-block
}

