Body {
  background-image:url('assets/backgrounds/wood_background.jpg');
  background-size:contain;
  background-repeat:repeat-y;
  font-family: 'Ubuntu', sans-serif;
}

.navbar-brand{
  font-size:calc(.9rem + .5vw + .5vh);
  text-shadow: -4px 4px 4px #000000;
  letter-spacing: 5px;
}

.container-fluid{
  min-height: 100vh;
  display: flex;
}

.project-pic{
  object-fit: contain;
  width: 100%;
  min-width: 300px;
  max-height: 600px;
}

.navbar{
  background: rgba(0, 0, 0, 0.55);
}

#about{
  background-image:url('assets/backgrounds/wood_background.jpg');
  background-size:contain;
  background-repeat:repeat-y;
}
#about i{
  font-size:calc(12px + .8vw);
}

.text-container{
  background: rgba(0, 0, 0, 0.774);
  padding:15px;
}

.project-about{
  border: solid rgb(255, 255, 255);
  padding: 20px;
  background:black;
}

#projects{
  padding-top:100px;
  background-image:url('assets/backgrounds/coffee_bean_background_2.jpg');
  background-size:contain;
}

#blog-posts{
  background-image:url('assets/backgrounds/wood_background_2.jpg');
  background-size:100% 100%;
}

h1, h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: calc(15px + 2vw) !important;
  font-weight:700;
}
h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: calc(15px + 0.8vw) !important;
}

.blogpost:hover{
  transform:scale(1.1);
}

a:hover{
  text-decoration:none
}


.nav-icon{
  height:calc(20px + .7vw + .7vh);
}

